.row div {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  text-align: center;

}

.container {
  border: 2px solid black;
  background-color: rgb(189, 201, 204);

}

table {

  border: 2px solid black;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
  width: 200px;
  font-family: "Times New Roman", Times, serif;


}



/**tableElem1.style.border = "2px solid red"
        tableElem1.style.width = "100px"
        "**/