button {
	display: block;
	margin: auto;
}

.container {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 50vw;
	background-color: rgb(38, 66, 61);
	box-shadow: 10px 10px 5px #8d8a89;
}

table {
	margin: auto;
	box-shadow: 10px 10px 5px #aaaaaa;
	width: 90%;
	background-color: rgb(180, 214, 211);
	border-collapse: separate;
	border-spacing: 2px;
}

thead {
	background-color: rgb(180, 214, 211);
	color: "lightgreen";
}

tr:nth-child(even) {
	background-color: rgb(180, 183, 214);
}

td,
th {
	text-align: center;
	border: 1px solid #dddddd;
	padding: 5px 5px;
}

#gearsContainer {
	display: none;
	z-index: 1;
}

.gear {
	position: absolute;
	/* z-index: -10; */
	width: 40px;
	height: 40px;
	animation: spin 5s infinite;
}

.two {
	left: 40px;
	width: 80px;
	height: 80px;
	animation: spin-reverse 5s infinite;
}

.three {
	top: 45px;
	left: -10px;
	width: 60px;
	height: 60px;
}

@keyframes spin {
	50% {
		transform: rotate(360deg);
	}
}

@keyframes spin-reverse {
	50% {
		transform: rotate(-360deg);
	}
}
